body {
    scroll-behavior: smooth;
}

.navbar {
    transition: background-color .5s;
    background: rgba(0, 0, 0, 0.3);
}

.navbar button:focus {
    box-shadow: none;
}

.navbar button {
    align-self: stretch;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand > img {
    height: 48px;
}

#landing-home {
    display: flex;
    height: 100vh;
    background-image: url('../images/landing-page/landing-desktop.jpeg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(14px);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}

#landing-home > div {
    width: 500px;
}

#offcanvas-menu {
    max-width: 55%;
}

#offcanvas-menu .nav-link {
    color: #757575;
}

#realisations-carousel .carousel-item {
    height: 74vh;
}

.card {
    border-radius: 14px;
    overflow: hidden;
}

.card-work-preview {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.localisation-preview {
    border-radius: 12px;
    max-width: 100%;
}

.navbar-offset {
    margin-top: 70px;
}

.notification-container {
    position: fixed;
    top: 80px;
    width: 100%;
    padding: 0 2em;
    z-index: 9;
}

.notification-container > div {
    max-width: 400px;
    margin: auto;
}

.container-min-height {
    min-height: calc(100vh - 354px);
}

.anchor {
    scroll-margin-top: 80px;
}

.text-justify {
    text-align: justify;
}

@media (max-width: 768px) {
    #landing-home h1 {
        font-size: 2rem;
    }

    .card-work-preview {
        height: 250px;
    }

    #landing-home {
        background-image: url("../images/landing-page/landing-phone.jpeg");
        padding-bottom: 16vh !important;
    }
}
