RewriteEngine On

RewriteRule ^prestation/(.*)$ routerCities.php?route=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ /$1.php [L]

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.nuances-facade.fr/$1 [R,L]
